# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Entornos
venv/
.env
.env.*

# Sistema
.DS_Store

# Datos (ignorar todo)
data/raw/
data/processed/

# Streamlit
.streamlit/secrets.toml

# Mantener estructura de carpetas
!data/
!data/raw/
!data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep
